@font-face {
  font-family: "pixel";
  src: url("/fonts/pixel.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@keyframes blink {
  0%,49% { opacity: 0; }
  50%,100% { opacity: 1; }
}

/* @keyframes blink { */
/*   0%,50%,100% { opacity: 1; } */
/*   25%,75% { opacity: 0; } */
/* } */
