*.logs
node_modules/
package-lock.json
/src/backend/dev/**/*.js
tailwind.css
secrets/
*.key
*.crt
.env
dockerFiles/nginx/website/
dockerFiles/vite/tsconfig.json
src/backend/test/.test_tokens
/dockerFiles/fastify/app_src/dev/
/dockerFiles/.env.fastify_example
/dockerFiles/fastify/databases/
/dockerFiles/fastify/app_src/.env
