*.logs
node_modules/
package-lock.json
/src/backend/dev/**/*.js
tailwind.css
secrets/
*.key
*.crt
.env
dockerFiles/nginx/website/
dockerFiles/vite/tsconfig.json
src/backend/test/.test_tokens
./dockerFiles/fastify/app_src/dev/
