@import "tailwindcss";

@plugin "tailwind-scrollbar";

@utility menu-button {
	@apply text-center font-(family-name:--font) text-(--text-color) font-(--font-weight) rounded-(--rounded) border-solid border-(--border-color) border-(length:--border-width) leading-[normal] bg-(image:--background-image) bg-(--background-color) hover:not-disabled:scale-(--hover-scale) hover:not-disabled:brightness-(--hover-brightness) hover:not-disabled:bg-(--hover-background-color) hover:not-disabled:text-(--hover-text-color) active:scale-(--active-scale) active:brightness-(--active-brightness) backdrop-blur-(--backdrop-blur) transition-all pointer-events-auto focus:outline-none active:outline-none;
}

@utility container-inline {
	container-type: inline-size
}
