# Database
DATABASE_URL="file:./databases/main.db"

# Server
PORT=8181
HOST="localhost"

# api url
API_URL="http://${HOST}:${PORT}"

# Default avatar url
DEFAULT_AVATAR_URL="${API_URL}/static/public/avatarDefault.webp"

# UPLOADS DIRECTORY
UPLOADS_DIR="/app/uploads"

# UPLOADS SUBDIR
AVATAR_DIR_PATH="${UPLOADS_DIR}/avatars/"

# JWT Secrets
JWT_ACCESS_SECRET="large_and_complicated_secret"
JWT_REFRESH_SECRET="another_large_and_complicated_secret"

# 42 OAUTH
FORTY_TWO_UID="uid 42"
FORTY_TWO_SECRET="secre do not push ^^"
FORTY_TWO_CALLBACK_URL="our callback url"

# Game Backend Secret (to secure communication between game backend and main backend)
GAME_BACKEND_SECRET="super_secret_game_backend_password"