services:
  nginx:
    build: ./nginx/
    ports:
      - "8080:8080"
    volumes:
      - frontend:/app/

volumes:
  frontend:
    driver: local
    driver_opts:
      type: none
      device: ../src/frontend/
      o: bind
