@font-face {
    font-family: 'VT323';
    src: url('VT323-Regular.woff2') format('woff2'),
        url('VT323-Regular.woff') format('woff'),
        url('VT323-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Game';
    src: url('PixelGame.woff2') format('woff2'),
        url('PixelGame.woff') format('woff'),
        url('PixelGame.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jungle Adventurer';
    src: url('JungleAdventurerRegular.woff2') format('woff2'),
        url('JungleAdventurerRegular.woff') format('woff'),
        url('JungleAdventurerRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

